<h1 *ngIf="!isEdit">Add User</h1>
<h1 *ngIf="isEdit">Edit User</h1>
<form [formGroup]="formGroup" (submit)="save()">
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label required">Email</label>
        <div class="col-sm-6">
            <input type="text" formControlName="email" class="form-control"
                placeholder="Enter email address" required />
            <div class="text-danger" *ngIf="email.touched && email.errors">
                <label *ngIf="email.errors['required']">Required</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label required">First Name</label>
        <div class="col-sm-6">
            <input type="text" formControlName="firstName" class="form-control"
                placeholder="Enter first name" required />
            <div class="text-danger" *ngIf="firstName.touched && firstName.errors">
                <label *ngIf="firstName.errors['required']">Required</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label required">Last Name</label>
        <div class="col-sm-6">
            <input type="text" formControlName="lastName" class="form-control"
                placeholder="Enter last name" required />
            <div class="text-danger" *ngIf="lastName.touched && lastName.errors">
                <label *ngIf="lastName.errors['required']">Required</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mr-2">Submit</button>
</form>