td, th {
    padding: 10px;
    vertical-align: middle;
}

button {
    margin: 10px;
}

div.page-controls-wrapper {
    margin: 20px;
}

.sort-by { 
	padding-right: 18px;
	position: relative;
    cursor: pointer;
}
.sort-by:before,
.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}