<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5>User List</h5>
    <div>
      <button [routerLink]="['/user']" class="btn btn-warning">+ Add a User</button>
    </div>
  </div>
  <div class="card-body d-flex flex-column">
    <div class="search-filters d-flex align-items-center">
      <div class="d-flex align-items-center filter">
        <span>Search Records:</span>&nbsp;
        <input (ngModelChange)="onSearch()" [(ngModel)]="searchText" type="text" placeholder="Type keyword..." />
      </div>
    </div>
    <br/>
    <div *ngIf="users.length === 0">No records found</div>
    <div *ngIf="users.length > 0" class="w-100 d-flex flex-column align-items-center">
      <table class="table table-bordered w-100">
        <thead class="thead-secondary">
          <tr>
            <th (click)="sortBy(ORDER_BY_TYPES.FIRST_NAME)" class="sort-by" title="Sort by first name">First Name</th>
            <th (click)="sortBy(ORDER_BY_TYPES.LAST_NAME)" class="sort-by" title="Sort by last name">Last Name</th>
            <th (click)="sortBy(ORDER_BY_TYPES.EMAIL)" class="sort-by" title="Sort by email">Email</th>
            <th (click)="sortBy(ORDER_BY_TYPES.GENDER)" class="sort-by text-center" title="Sort by gender">Gender</th>
            <th (click)="sortBy(ORDER_BY_TYPES.STATUS)" class="sort-by text-center" title="Sort by status">Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | paginate : { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td class="text-center">{{user.gender}}</td>
            <td class="text-center" [ngClass]="user.status ? 'text-success' : 'text-danger'">{{user.status ? 'Active' : 'Inactive'}}</td>
            <td class="text-center">
              <button [routerLink]="['/user', user.id]" class="btn btn-success">Edit</button>
              <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page-controls-wrapper">
        <pagination-controls (pageChange)="onPageChange((page = $event))"></pagination-controls>
      </div>
    </div>
  </div>
</div>